h1 {
  display: flex;
  justify-self: center;
  color:tomato;
}


#container {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: space-between;
  height: 355px;
  width: 355px;
  border: 10px solid darkred;
  background-color: pink;
}
.sq {
  margin: 1px;
  background-color: white;
  height: 20px;
  width: 20px;
}

