

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 38, 38);

}

#container{
  margin-top: 15px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgb(38, 38, 38);
  height: 734px;
  width: 820px;
  border: #e7e7e7 solid 2px;
  border-radius: 15px; 
  padding-bottom: 10px;

}

#sketchContainer {
  display: flex;
  width: 548.8px;
  height: 548.8px;
  background-color: #efefef;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start; 
}

.sq {
  background-color: rgb(64, 64, 64);
  border: #d3d3d3 solid 0.5px;
}


.btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 110px;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 548.8px;
}

.output {
  height: 10px;
  margin-bottom: 20px;
  color: #d3d3d3;
}
.slider {
  -webkit-appearance: none; 
  width: 100%; 
  height: 1px; 
  background: #d3d3d3; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  border-radius: 15px;
  width: 10px; 
  height: 20px; 
  background: #d3d3d3; 
  cursor: pointer; 
}
.btn {
  padding-top: 4px;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  display: flex;
  align-self: center;
}
.infoContainer {
  display: flex;
  justify-content: flex-end;
  width: 784px;
  height: 50px;
}

#infoButton{
  border: 0px;
  background-color: rgb(38, 38, 38);
}

.windowWrapper{
  display: inline;
  position: absolute; 
  width: fit-content;  
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  text-align: center;
  color: white;
  opacity: 70%;
}

.tickContainer{
  display: inline;
  width: 548.8px;
  height: 5px;
  gap: 100px;
}
#t1{
  position:relative;
  top: 0px;
  left: 2px;
  width: 2px;
  height: 5px;
  background-color: #d3d3d3;
}
#t2{
  position: relative;
  left: 66px;
  top: -5px;
}
#t3{
  position: relative;
  left: 138px;
  top: -10px;
}
#t4{
  position: relative;
  left: 223px;
  top: -15px;
}
#t5{
  position: relative;
  left: 319px;
  top: -20px;
}
#t6{
  position: relative;
  left: 425px;
  top: -25px;
}
#t7{
  position: relative;
  left: 547px;
  top: -30px;
}

.tick{
  width: 2px;
  height: 5px;
  background-color: #d3d3d3;
}

